@import url('https://fonts.googleapis.com/css?family=Comfortaa|Montserrat&display=swap');

:root {
    --color1: black;
    --color1g: rgba(88, 87, 87, 0.1);
    --color2: #ffa500;
    --color2g: #ffc250;;
    --textColor: #ffa500;
    --font1: 'Montserrat';
    --font2: 'Comfortaa';
}